<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Unit Booking</title>


</head>

<body>

<div class="container">

<div class="title">UNIT BOOKING</div>

<!-- BOOKING INFO -->
<fieldset>
<legend>Booking Info</legend>

<div class="grid-2">
    <div>
        <label>Booking Date</label>
        <input type="date">
    </div>
    <div>
        <label>Sales Executive</label>
        <select>
            <option>Select</option>
        </select>
    </div>
</div>

</fieldset>

<!-- APPLICANT + PAYMENT -->
<div class="grid-2">

<fieldset>
<legend>Applicant Info</legend>

<div class="grid-4">
    <div><label>Salutation</label><select></select></div>
    <div><label>First Name</label><input></div>
    <div><label>Middle Name</label><input></div>
    <div><label>Last Name</label><input></div>

    <div><label>Occupation</label><select></select></div>
    <div><label>Mobile Number</label><input></div>
    <div><label>PAN Number</label><input></div>
    <div><label>Aadhar Number</label><input></div>
</div>

<div style="margin-top:10px;width:25%;">
    <label>Age</label>
    <input>
</div>

</fieldset>

<fieldset>
<legend>Payment Details</legend>

<div class="grid-2">
    <div><label>Booking Amount</label><input></div>
    <div><label>Payment Mode</label><select></select></div>

    <div><label>Cheque / TRN No</label><input></div>
    <div><label>Cheque / TRN Date</label><input type="date"></div>

    <div style="grid-column: span 2;">
        <label>Bank Name</label>
        <select></select>
    </div>
</div>

</fieldset>

</div>

<!-- BOOKING CALCULATION -->
<fieldset>
<legend>Booking Calculation & Area Details</legend>

<div class="grid-5">
    <div><label>Wing</label><select></select></div>
    <div><label>Floor</label><select></select></div>
    <div><label>Unit Type</label><select></select></div>
    <div><label>Unit Number</label><select></select></div>
    <div><label>Carpet</label><input></div>
</div>

<br>

<div class="grid-4">
    <div><label>Agreement Cost</label><input></div>
    <div><label>GST</label><input></div>
    <div><label>Stamp Duty</label><input></div>
    <div><label>Registration</label><input></div>
</div>

<br>

<div class="grid-4">
    <div><label>Furniture Charges</label><input></div>
    <div><label>Actual Package</label><input></div>
    <div><label>Package Total</label><input></div>
    <div><label>Parking Type</label><select></select></div>
</div>

<br>

<div>
    <label>Source</label>
    <input>
</div>

</fieldset>

<!-- BUTTONS -->
<div class="footer">
    <button class="save">Save</button>
    <button class="close">Close</button>
</div>

</div>

</body>
</html>
